*.o
*.lo

m4/*.m4

/.deps/
/.libs/
/Makefile
/Makefile.in
/aclocal.m4
/ar-lib
/autom4te.cache/
/blind_id
/compile
/config.guess
/config.log
/config.status
/config.sub
/configure
/d0_blind_id.pc
/d0_rijndael.pc
/depcomp
/install-sh
/libd0_blind_id.la
/libd0_rijndael.la
/libtool
/ltmain.sh
/missing
